
@{
    ViewBag.Title = "AddContent";
}

<h2>AddContent</h2>

<form method="post" enctype="multipart/form-data">
    <div class="form-group mb-4">
        

        <label for="Title">Başlık</label>
        <input class="form-control" type="text" name="Title" id="Title" placeholder="Başlık" required />

        <label for="ContentDescription">İçerik Açıklaması</label>
        <input class="form-control" type="text" name="ContentDescription" id="ContentDescription" placeholder="İçerik Açıklaması" required />

        <label for="ObjectPath">İçerik Nesnesi</label>
        <input class="form-control" type="file" name="ObjectPath" id="ObjectPath" placeholder="Fotoğraf/Video Ekleyebilirsiniz" accept=".png, .jpeg, .jpg, .mp4"  />
    </div>
    <button type="submit" class="btn btn-primary">Paylaş</button>
    <span>@ViewBag.Message</span>
</form>