
@{
    ViewBag.Title = "SignUp";
}

<h2>Kayıt Ol</h2>



<form method="post" enctype="multipart/form-data">
    <div class="form-group mb-4">
        <label for="Name">İsim</label>
        <input class="form-control" type="text" name="Name" id="Name" placeholder="İsim" required />

        <label for="Surname">Soyisim</label>
        <input class="form-control" type="text" name="Surname" id="Surname" placeholder="Soyisim" required />

        <label for="UserName">Kullanıcı Adı</label>
        <input class="form-control" type="text" name="UserName" id="UserName" placeholder="Kullanıcı Adı" required />

        <label for="Mail">E-Mail</label>
        <input class="form-control" type="email" name="Mail" id="Mail" placeholder="user@example.com" required />

        <label for="Password">Şifre</label>
        <input class="form-control" type="password" name="Password" id="Password" placeholder="**************" required />

        <label for="Biography">Biyografi</label>
        <textarea class="form-control" name="Biography" id="Biography" placeholder="Kendinizi tanımlayın"></textarea>

        <label for="Photo">Resim</label>
        <input class="form-control" type="file" name="Photo" id="Photo" placeholder="Profil resmi" accept=".png, .jpeg, .jpg"  />

    </div>
    <button type="submit" class="btn btn-primary">Kayıt Ol</button>
    <span>@ViewBag.Message</span>
</form>


